*{
    padding: 0;
    margin: 0;
}
.hero{
    background-image: url(../images/pic1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
}

.hero nav{
    height: 50px;
    width: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    
}



nav .menu{
    height: 20px;
    width: 20px;
    background-color:rgba(0, 0, 0, 0.64) ;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.menu div{
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius:50%;
}


.subhero{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.hero h1{
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.hero p{
    font-size:22px ;
    font-family: sans-serif;
    text-decoration: none;
    font-style: italic;
    margin: 10px;
}

.hero button{
    height: 60px;
    width: 180px;
    border-radius: 4px;
    font-size: 18px;
    background-color: rgb(20, 107, 156) ;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin: 40px;
}

.offer{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.offer h3{
    font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px;
}

.offer p{
    font-style: normal;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 16px ;
    color: #777;
   
}

.offer a{
    text-decoration: none;
    color: rgba(74, 130, 163, 0.73);
}

.offer button{
    height: 60px;
    width: 180px;
    border-radius: 4px;
    font-size: 18px;
    background-color:rgba(0, 0, 0, 0.85) ;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
}


.services{
    width: 100%;
    height: 500px;
    background-color: rgb(62, 117, 149) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.services  h4{
    font-style: normal;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 14px ;
    color:orange;
    

}


.services  h2{
    font-size: 44px;
    font-family: sans-serif;
    font-weight:bold;
    color: white;
    margin: 10px;
}

 .maindiv {
     display: flex;

}

.maindiv div{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.maindiv h4{
    color: white;
    font-family:sans-serif ;
    font-size: 18px;
    font-weight: bold;
   
}

.maindiv p{
    font-style: normal;
    font-family: sans-serif;
    font-weight:80px;
    font-size: 12px ;
    color: rgba(255, 255, 255, 0.556);
    margin: 10px;
}

.maindiv img{
    height: 80px;
    margin: 10px;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/pic2.jpg);
    width: 100%;
    height: 85vh;
    background-position: center;
    background-size: cover;
}


.welcome h2{
    font-size: 44px;
    font-family: sans-serif;
    font-weight:bold;
    text-align: center;
 
}

.welcome span{
    font-style: italic;
    font-weight: lighter;
}

.welcome button{
    height: 60px;
    width: 180px;
    border-radius: 4px;
    font-size: 18px;
    background-color: rgb(20, 107, 156) ;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 50px;
}

.portfolio{
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio h4{
    font-style: normal;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 14px ;
    color:orange;
}


.portfolio h2{
    font-size: 44px;
    font-family: sans-serif;
    font-weight:bold;
    margin: 10px;
}

.main-container{
    width: 800px;
    display: flex;
    height: 560px;
    flex-wrap:wrap;
    background-color: yellow;
    margin-top: 30px;

 }



.rect1{
    background-image: url(../images/pic3.jpg);
    width: 400px;
    height:280px ;
    background-position: center;
    background-size: cover;
 
 }
 .rect2{
   background-image: url(../images/pic4.jpg);
   width: 400px;
    height:280px ;
    background-position: center;
    background-size: cover;
 }
 
 .rect3{
    background-image: url(../images/pic5.jpg);
    width: 400px;
    height:280px ;
    background-position: center;
    background-size: cover;
 }
 .rect4{
    background-image: url(../images/pic2.jpg);
    width: 400px;
    height:280px ;
    background-position: center;
    background-size: cover;
    
 }

.main-container  h4{
    font-style: normal;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 10px ;
    color:white;
    margin-top: 150px ;
    padding-left: 60px;
} 

.main-container p{
    font-style: normal;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 12px ;
    color: white;
    margin-top: 20px;
  padding-left: 60px;

}
 
.main-container div{
    display: flex;
    flex-direction: column;
}

div .opacity{
    height: 280px;
    width: 400px;
    background-color:rgba(0, 0, 0, 0.188);
   
}

.buttons-section{
    width: 100%;
    height: 40vh;
    background-color: rgb(62, 117, 149) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-section h3{
    font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px;
    color: white;
}

.buttons-section  button{
    height: 60px;
    width: 180px;
    border-radius: 4px;
    font-size: 18px;
    background-color:rgba(0, 0, 0, 0.85) ;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
   
}

.buttons-section  .b1{
    font-weight: 10px;
    background-color: white;
    color: black;
    margin: 20px;
}


.map{
    background-image: url(../images/map.png);
    width: 100%;
    height: 55vh;
    background-position: center;
    background-size: cover;
    
}

footer{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

footer img{
    height: 50px;
    margin: 10px;
}

footer p{
    font-style: normal;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 10px ;
    color: #777;
    margin: 30px;
}

footer div{
    margin-top: 30px;
}

































/*{
    margin: 0;
    padding: 0;
}

.hero{
    background-image: url(images/pic1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.hb-menu{
    position: absolute;
        width: 40px;
        display: flex;
        align-items: center;
        flex-flow:column ;
        height: 40px;
        top: 20px;
        left: 1380px;
        justify-content: center;
        opacity: 100%;
        background-color: rgba(0, 0, 0, 0.453);
        gap: 3px;
        border-radius: 50%;
       
}

.hb-menu .div1{
     width: 20px;
     height: 3px;
     background-color: white;
     
}
.hb-menu .div2{
    width: 20px;
    height: 3px;
    background-color: white;
    
}

.hb-menu .div3{
    width: 20px;
    height: 3px;
    background-color: white;
    
}


.hero h1{
    position: absolute;
    left: 450px;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    top: 280px;
 
}
.hero p{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:22px ;
    font-family: sans-serif;
     text-decoration: none;
     font-style: italic;
    top: 380px;
    

}

 button{
   
    position: absolute;
    height: 60px;
    width: 180px;
    border-radius: 4px;
    font-size: 18px;
    background-color: rgb(20, 107, 156) ;
    left: 44%;
    top: 450px;
    color: white;
    border: none;
    font-size: 15px;
   
}

.offer{
    
   position: relative;
  
}
.offer h3{
    position: absolute;
    font-size: 26px;
    font-family: sans-serif;
    top: 120px;
    margin-left: 360px;
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: rgba(74, 130, 163, 0.73);
}

.offer p{
    position: absolute;
    padding-top: 170px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 16px ;
    color: #777;
    left: 354px;
    
}

.wwo{

    
    position: absolute;
    height: 60px;
    width: 180px;
    border-radius: 4px;
    font-size: 18px;
    background-color:rgba(0, 0, 0, 0.85) ;
    left: 44%;
    top: 250px;
    color: white;
     border: none;
    font-size: 15px;
    font-weight: bold;
}

.services{
    position: relative;
    height: 500px;
    background-color: rgb(62, 117, 149) ;
    top: 400px;
    
}

.services p{

    position: absolute;
    padding-top: 100px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 14px ;
    color:orange;
    left: 685px;
    
}

.services h3{
    
    position: absolute;
    font-size: 44px;
    font-family: sans-serif;
    top: 120px;
    left: 570px;
    font-weight:bold;
    color: white;
}

.services div{  
    position: relative;
    align-items: center;
    flex-flow: row;
    color: white;
    display: inline-block;
    top: 200px;
    left: 300px;
    padding: 10px 20px;
}

.services .icon{
    position: absolute ;
    height: 80px;
    left: 30px;
    top: 30px;
    
}

.services h4{
    position:absolute;
    font-family:sans-serif ;
    font-size: 18px;
    font-weight: bold;
    top:120px ;
    text-align: center;
}

.services h5{
    position: relative;
    font-style: normal;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 12px ;
    top: 130px;
    text-align: center;
    color: rgba(255, 255, 255, 0.556);
    left: -35px;
}






.welcome{
    position: relative;
    background-image: url(./images/pic2.jpg);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    top: 400px;
}

.welcome h3{
    position: absolute;
    font-size: 44px;
    font-family: sans-serif;
    top: 250px;
     left: 550px;
    font-weight:bold;
    text-align: center;
}
.welcome span{
     font-style: italic;
     font-weight: lighter;
}

.welcome button{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 400px;
}

.portfolio{
    position: relative;
    height: 800px;
    top: 400px;
}

.portfolio p{
    position: absolute;
    padding-top: 100px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 14px ;
    color:orange;
    left: 685px;
}

.portfolio h3{
    position: absolute;
    font-size: 44px;
    font-family: sans-serif;
    top: 120px;
    left: 570px;
    font-weight:bold;
  
}

.wrapper{
        position: relative;
        width: 1000px;
        display: flex;
        align-items: center;
        height: 600px;
        top: 220px;
        left: 220px;
        justify-content: center;
        opacity: 100%;
        
}

.flex-container1{
    width: 900px;
    display: flex;
    height: 600px;
    
}

.rect1{
   background-image: url(images/pic3.jpg);
   width: 500px;
   height:300px ;
   background-position: center;
   background-size: cover;

}
.rect2{
  background-image: url(images/pic5.jpg);
  width: 500px;
   height:300px ;
   background-position: center;
   background-size: cover;
}

.rect3{
   background-image: url(images/pic4.jpg);
   width: 500px;
   height:300px ;
   background-position: center;
   background-size: cover;
}
.rect4{
   background-image: url(images/pic2.jpg);
   width: 500px;
   height:300px ;
   background-position: center;
   background-size: cover;
}

.flex-container2 h4{
    position: relative;
    top: 173px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 10px ;
    color:white;
    left: 75px;
}

.flex-container2 h5{
    position: relative;
    top: 185px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 12px ;
    color: white;
    left: 75px;
    justify-content: space-between;
   
}

.flex-con1 h4{
    position: relative;
    top: 173px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 10px ;
    color:white;
    left: 75px
}

.flex-con1 h5{
    position: relative;
    top: 185px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 12px ;
    color: white;
    left: 75px;
    justify-content: space-between;
   
}



.clicklook{
    position: relative;
    height: 350px;
    background-color: rgb(62, 117, 149) ;
    top: 550px;
}

.clicklook h3{
    position: absolute;
    font-size: 26px;
    font-family: sans-serif;
    top: 120px;
    margin-left: 360px;
    font-weight: bold;
    color: white;
    left: 100px;
}

.clicklook .b1{
    position: relative;
    font-weight: bolder;
    top: 50px;
    background-color:white;
    font-family: sans-serif;
    color: black;
    left: 80px;
}

.clicklook .b2{
    position: relative;
    font-weight: bolder;
    top: 50px;
    background-color: black;
    font-family: sans-serif;
    left: 100px;
}

.map{
    position: relative;
    background-image: url(images/map.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 55vh;
    top: 550px;
}


footer{
    position: relative;
    height: 100vh ;

}

footer img{
     position: relative;
     top: 600px;
     left: 590px;
     height: 60px;
     padding: 10px 10px  ;
}
footer p{
    position: absolute;
    top: 720px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 12px ;
    color: #777;
    left: 625px;
}